no references for body 
body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #0B0C10;
}
.navbar {
    background-color: #1f2833;
    padding: 10px;
    text-align: right;
    box-shadow: 0px -2px 7px #66fcf1;
    margin-bottom: 15px;
}
.navbar a {
    color: #66fcf1;
    text-decoration: none;
    padding: 0 10px;
}
section {
    padding: 10px;
    max-width: 900px;
    margin: 0 auto;
}
section h2 {
    text-align: center;
    color: #000102;
}
hr {
    margin-bottom: 25px;
}
.portfolio-grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    color: #1f2833;
    gap: 10px;
    justify-items: center;
}
.portfolio-item {
    height: 150px;
    width: 175px;
    background-color: #45a29e;
    padding: 10px;
}
.portfolio-item:nth-child(even) {
    background-color: transparent;
    border: 2px solid #45a29e;
    color: #c5c6c7;
}
.contact-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "form form . fb twitter" "form form . youtube ig";
    gap: 20px;
}
.fb, .twitter, .youtube, .ig {
    width: 175px;
    height: 175px;
    color: #0e0e0f;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 0px 7px #010302;
    background-color: #29e3ed;
}

.fb > span,
.twitter > span, 
.youtube > span,
.ig > span {
    text-align: center;
    position: relative;
    top: 40%;
}

.form { grid-area: form;}
.fb { grid-area: fb;}
.twitter { grid-area: twitter;}
.youtube { grid-area: youtube;}
.ig { grid-area: ig;}

label {
    display: block;
    color: #111212;
    margin-bottom: 10px;
}
input, textarea {
    display: block;
    margin-bottom: 10px;
    border: 1px solid #010909;
    padding: 15px 8px;
    border-radius: 5px;
    background-color: rgba(144, 191, 239, 0.2);
    width: 100%;
}
footer {
    background-color: #e8eef6;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 2px 7px #66fcf1;
    margin-top: 15px;
    color: #000b0a;
}